<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Recognition Model</title>
</head>
<body>
<img src="/tmp/logo.png">
<h1 style="background-color:yellow;">Upload the Image</h1>
            <p>
            <p>
            <h2 style="background-color:lime;">{{message}}</h2>
            <p>
            <form action="/recognize" enctype="multipart/form-data" method="post">
            <input name="file" type="file">
            <input type="submit">
            </form>
</body>
</html>


